<div class="register" el-row type="flex" justify="center" align="middle">
    <div class="panel" el-col span="6" [xs]="{span:24}" [sm]="{span:14}" [md]="{span:8}">
        <h1>Code Matrix Zone</h1>
        <form [formGroup]="form" (ngSubmit)="register()">
            <h3>Register for free</h3>

            <app-alert
                    [type]="'error'"
                    [isShow]="((form.dirty || form.touched) && form.invalid) || errorMessages.length"
                    [canClose]="false"
            >
                <div *ngIf="f.email.errors?.required">Email is required</div>
                <div *ngIf="f.email.errors?.email">Email is not valid</div>
                <div *ngIf="f.fullName.errors?.required">Full name is required</div>
                <div *ngIf="f.fullName.errors?.minlength">Full name should be greater than 5</div>
                <div *ngIf="f.password.errors?.required">Password is required</div>
                <div *ngIf="f.password.errors?.minlength">Password should be greater than 6</div>
                <div *ngIf="f.password.errors?.maxlength">Password should be less than 16</div>
                <div *ngIf="f.confirmPassword.errors?.required">Confirm password is required</div>
                <div *ngIf="f.confirmPassword.errors?.match">Passwords are not match</div>
                <div *ngFor="let error of errorMessages">{{error}}</div>
            </app-alert>

            <div class="field-holder">

                <input type="email"
                       class="field email"
                       placeholder="Email"
                       formControlName="email"
                       [ngClass]="fieldClassValidation('email')"
                />
                <input type="text"
                       class="field"
                       placeholder="Full Name"
                       formControlName="fullName"
                       [ngClass]="fieldClassValidation('fullName')"
                />
                <input type="password"
                       class="field"
                       placeholder="Password"
                       formControlName="password"
                       [ngClass]="fieldClassValidation('password')"
                />
                <input type="password"
                       class="field"
                       placeholder="Confirm Password"
                       formControlName="confirmPassword"
                       [ngClass]="fieldClassValidation('confirmPassword')"
                />
            </div>

            <button type="submit" class="btn purple lg" [el-loading]="isLoading">Register</button>

            <p>
                <small>Already have an account?</small>
            </p>
            <a routerLink="/login" class="btn default block lg">Login with your account</a>
        </form>

        <app-login-footer></app-login-footer>
    </div>
</div>
