<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'user' => 'root',
                    'password' => 'test',
//                    'dbname' => 'test_db',
                ],
            ],
        ],
    ],
];
