@import 'pagination';

.nari-table {
    .panel-title {
        line-height: 30px;
    }

    .panel-body {
        padding: 0;
    }

    .table {
        margin-bottom: 0;

        tr > th:first-child,
        tr > td:first-child {
            width: 60px;
            text-align: center;
        }
    }
}
