<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'user' => 'devuser',
                    'password' => 'devpass',
                ],
            ],
        ],
    ],
];
