<div class="login" el-row type="flex" justify="center" align="middle">
    <div class="panel" el-col span="6" [xs]="{span:24}" [sm]="{span:14}" [md]="{span:8}">
        <h1>Code Matrix Zone</h1>
        <form [formGroup]="form" (ngSubmit)="login()">
            <h3>Sign in to get in touch</h3>

            <app-alert
                    [type]="'error'"
                    [isShow]="(form.dirty || form.touched) && form.invalid"
                    [canClose]="false"
            >
                <div *ngIf="f.username.errors?.required">Email is required</div>
                <div *ngIf="f.username.errors?.email">Email is not valid</div>
                <div *ngIf="f.password.errors?.required">Password is required</div>
                <div *ngIf="f.password.errors?.minlength">Password should be greater than 6</div>
                <div *ngIf="f.password.errors?.maxlength">Password should be less than 16</div>
            </app-alert>


            <div class="field-holder">
                <input type="email"
                       class="field email"
                       formControlName="username"
                       placeholder="Email"
                       [ngClass]="fieldClassValidation('username')"
                />
                <input type="password"
                       class="field password"
                       formControlName="password"
                       placeholder="Password"
                       [ngClass]="fieldClassValidation('password')"
                />
            </div>

            <button type="submit" class="btn purple lg" [el-loading]="isLoading">Log in</button>

            <div class="forgot-password"><a routerLink="forgot-password">Forgot password?</a></div>
            <p><small>Do not have an account?</small></p>
            <a routerLink="/register" class="btn default block lg">Create an account</a>
        </form>

        <app-login-footer></app-login-footer>
    </div>
</div>
