<div class="login" fxLayout="column" fxLayoutAlign="center center">
    <div class="panel">
        <h1>NariCMS</h1>
        <div class="form">
            <h3>Sign in to get in touch</h3>
            <div class="field-holder">
                <input type="email" placeholder="Email" class="field email" required>
                <input type="password" placeholder="Password" class="field password" required>
            </div>

            <button class="btn purple lg">Log in</button>

            <div class="forgot-password"><a href="forgot-password">Forgot password?</a></div>

            <p><small>Do not have an account?</small></p>
            <a ui-sref="access.signup" class="btn default lg block">Create an account</a>
        </div>
        <div class="footer">
            <p>
                <small class="text muted">NariCMS is powered by Angular6 and Zend Framework<br>&copy; 2014
                </small>
            </p>
        </div>
    </div>
</div>
